<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
</configSections>
<appSettings><add key="TestForm.WorkItemClientService.ClientService" value="http://inflectrasvr03:8080/WorkItemTracking/v1.0/ClientService.asmx"/><add key="TestForm.WorkItemExternalServices.ExternalServices" value="http://inflectrasvr03:8080/WorkItemTracking/v1.0/ExternalServices.asmx"/></appSettings>
</configuration>
